<div class="container"><br><br>
    <h2>Login as  : </h2><br><br>

  
    <div class="row">
        <div class="col">
  <img src="./assets/img/Admin.png" alt="ss">
            
        </div>
        <img src="./assets/img/images.png" alt="ss">
  
  
    </div>

    <div class="row">
      <div class="col">
<button (click)="changeToAdmin()"  type="button" class="btn btn-primary ml-4">Admin</button>
          
      </div>
      <button (click)="changeToUser()"  type="button" class="btn btn-primary ml-4">User</button>


  </div>