
<div>
    <div class="col-md-3">
        <div class="logo">
            <a href="index.html">
                <img src="assets/img/logo.png" alt="Logo">
            </a>
        </div>
    </div>
<!-- Main Slider Start -->
<div class="header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <nav class="navbar bg-light">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="fa fa-home"></i>Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="category-list"><i class="fa fa-shopping-bag"></i>category</a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link" href="/categories/fashion-et-beauty"><i class="fa fa-female"></i>Fashion & Beauty</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/categories/clothes"><i class="fa fa-child"></i>Clothes</a>
                    
                        <li class="nav-item">
                            <a class="nav-link" href="/categories/food"><i class="fa fa-plus-square"></i>Food</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/categories/electronics"><i class="fa fa-microchip"></i>Electronics & Accessories</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-md-6">
                <div class="header-slider normal-slider">
                    <div class="header-slider-item">
                        <img src="assets/img/tounsi1.png" class="img-thumbnail" alt="Slider Image" />
                        <div class="header-slider-caption">
                            <p>Some text goes here that describes the image</p>
                            <a class="btn" href=""><i class="fa fa-shopping-cart"></i>Shop Now</a>
                        </div>
                    </div>
                  
                    
                </div>
            </div>
            <div class="col-md-3">
                <div class="header-img">
                    <div class="img-item">
                        <img src="assets/img/tounsi3.jfif" />
                        <a class="img-text" href="">
                            <p>Some text goes here that describes the image</p>
                        </a>
                    </div>
                    <div class="img-item">
                        <img src="assets/img/tounsi4.jfif" />
                        <a class="img-text" href="">
                            <p>Some text goes here that describes the image</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
     <!-- Call to Action Start -->
     <div class="call-to-action">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <h1>call us for any queries</h1>
                </div>
                <div class="col-md-6">
                    <a href="tel:93521330">+21693521330</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Call to Action End -->   
     
    
</div>
  
  
  
  
  


