<app-navbar></app-navbar>
<div class="row justify-content-center">
<div class="col-md-8 offset-md-3">
<form #f="ngForm">

  <div class="form-group" [hidden]="product.id">
    <h1>New product</h1>
    <p>Please enter product data</p>
    <hr>
  </div>

    <div class="form-group">
        <label>id</label>
        <input type="number" class="form-control" id="id"
          [(ngModel)] = "product.id" name="id">
    
    </div>


<div class="form-group">
    <label>product_name</label>
    <input type="text" class="form-control" id="product_name"
      [(ngModel)] = "product.product_name" name="product_name" placeholder="Enter Name" #desigProduct="ngModel"
      [(ngModel)]="product.product_name" required maxlength="40">

</div>

<div class="form-group">
    <label>dateExp</label>
    <input type="number" class="form-control" id="dateExp"
      [(ngModel)] = "product.dateExp" name="dateExp">

</div>

<div class="form-group">
    <label>product_price</label>
    <input type="number" class="form-control" id="product_price"
      [(ngModel)] = "product.product_price" name="product_price">

</div>

<div class="form-group">
    <label>code_a_barre</label>
    <input type="number" class="form-control" id="code_a_barre"
      [(ngModel)] = "product.code_a_barre" name="code_a_barre">

</div>

<div class="form-group">
  <label>category</label>
  <select class="form-control" id="category" name="category" [(ngModel)]="product.category" >
    <option [ngValue]="null"></option>
    <option [ngValue]="categoryOption.id === product.category?.id ? product.category : categoryOption" *ngFor="let categoryOption of categorylist">
      {{categoryOption.id}}:
      {{categoryOption.name}}</option>
  </select>
</div>



<div class="container row">
  <div class="col-md-6">
      <input type="file" (change)="onFileChanged($event)">
  </div>
  <div class="col-md-6">
      <input type="button" (click)="onUpload()" value="upload">
  </div>
</div>
<hr />
<div class="container row">
  <div class="col-md-12">
      <div *ngIf=message>{{message}}</div>
  </div>
</div>
<div class="container row">
  <div class="col-md-6">
      <input type="text" class="form-control" id="image" placeholder="image" [(ngModel)]="image"
          name="image" />
  </div>
  <div class="col-md-6">
      <input type="button" (click)="getImage()" value="Get Image">
  </div>
</div>

<div class="container row">
  <div class="col-md-12">
      <div *ngIf=retrievedImage>
          <img [src]="retrievedImage">
      </div>
  </div>
</div>

<button class="btn badge-warning bi bi-check-lg" [disabled]="f.invalid" (click)="saveProduct()">
  save
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
    <path d="M13.485 1.431a1.473 1.473 0 0 1 2.104 2.062l-7.84 9.801a1.473 1.473 0 0 1-2.12.04L.431 8.138a1.473 1.473 0 0 1 2.084-2.083l4.111 4.112 6.82-8.69a.486.486 0 0 1 .04-.045z"/>
  </svg>
</button>


</form>
</div>
</div>