<app-navbar></app-navbar>
<h1>Food</h1>
<div class="container">

               <!--<a class="btn" href="/product-list">List Products</a>
               <a class="btn" href="/add-product"> Ads</a>-->
              <!-- Featured -->
<section class="section featured">
  
  <div class="product-center container">
  

    

  <label for="search" class="col-sm-2 col-form-label" style="text-align:left;">Search</label>
  &nbsp; &nbsp;&nbsp; &nbsp;

  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
      <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
    </svg>
   &nbsp; &nbsp;
   <a class="btn close" href="/home">&times;</a>
  
              
    <div class="row row-cols-6 "   >
        <tbody>
            <tr [hidden] = "show" *ngFor ="let product of product "  >
                 <div class="col-md-6">
                    <div class="card" style="width: 18rem;">
                      <th scope="col-md-3">
                        <img [src]=" 'data:image/jpeg;base64,' + product.image.picByte" style="width: 100px;"> 
                         </th>
                         <div class="row">
                      <div class="card-body" >
                        <h5 class="card-title">{{product.product_name}}</h5>
                        <h5 class="card-title">{{product.product_price}}</h5>

                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Add To Cart</a>
                      </div>
                    </div>
                    </div>
                    </div>   
              </tr>
         </tbody>
          </div>
              <br>
         <br><br>
      </div>
  

</section>


