<app-navbar></app-navbar>
<app-sidbar></app-sidbar>

  
  <div >
    <div class="row row-cols-6">
      <ng-container *ngFor="let cat of category; let index=index">
        <div class="col-sm-2">
          <!-- <div class="card"> -->
          <a (click)="detailCategorie(cat.id)" style="cursor:pointer">
            <img [src]="cat.url" [alt]="cat.nom" class="ImageCategorie" [title]='cat.nom' />
          </a>
          <!--  </div> -->
        </div>
        <div class="w-100" *ngIf="(index+1) % 2 === 0"></div>
      </ng-container>
    </div>
  </div>
  